.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 4rem;
  max-height: 4rem;
  color: white;
  cursor: pointer;
}

.cellHover {
  border: 1px solid grey;
  background-color: #ff8080;
}

.cellFilled {
  border: 1px solid grey;
  background-color: red;
}

.cellBlank {
  border: 1px solid grey;
  background-color: white;
}
