.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 4rem;
  min-height: 4rem;
  color: white;
}

.cellColored {
  border: 1px solid grey;
  background-color: red;
}

.cellBlank {
  border: 1px solid grey;
  background-color: white;
}
